*{
    margin: auto;
}

body{
    background-color: skyblue;
    color: black;
    font-family:'Mitr', serif ;
    text-align: center;
}

#refreshButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background: #000;
    color: white;
}

#randomButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background: #000;
    color: white;
}

#container {
    display: flex;
    align-items: flex-end;
    margin-left:35%;
    margin-right:35%
}

.generatedNumbers {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    width: 30px;
    text-align: center;
    color: black;
    bottom:0px;
    background-color: yellow;
}

.bucketWrapper {
    margin: 2px;
    text-align: center;
    display: inline-block;
}

.countingBuckets {
    border: 2px solid black;
    width: 30px;
    height: 30px;
}

#sortingButton {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background: #000;
    color: white;
}

#container3 {
    display: flex;
    align-items: flex-end;
    margin-left: 35%;
    margin-right: 35%;
}

.sortedNumbers {
    margin: 2px;
    padding: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    color: white;
    display: inline-block;
}